<% layout('layout') -%>
<div class="dialog-achievements dialog-content">
  <h2>Your Achievements</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Achievement Points</th>
    </tr>
    <%- partial('achievement', achievements) %>
  </table>
</div>